<div id="content" class="col-lg-10 col-lg-offset-1">
  <header id="header" class="col-lg-12">
    <h1>
      {{ title }}
    </h1>
  </header>

  <nav id="nav" class="col-lg-12">
    <ul>
      <li><a href="" [routerLink]="['/home']" [routerLinkActive]="['activated']">Home</a></li>
      <li><a href="" [routerLink]="['/products']" [routerLinkActive]="['activated']">Products</a></li>
      <li><a href="">Create product</a></li>
    </ul>
  </nav>

  <section id="main" class="col-lg-12">
    <!-- Component current -->
    <router-outlet></router-outlet>
  </section>

  <footer id="footer" class="col-lg-12">
    <p>Angular 6 - jonnyalexbh</p>
  </footer>
</div>
